.itemDetailsContainer {
	color: white;
	width: 100%;
	height: var(--vh);
	display: grid;
	justify-items: center;
	gap: 50px;
	padding: 50px;
	overflow-y: scroll;
}

.itemDetailsContainer::-webkit-scrollbar {
	width: 5px;
}

.itemImageContainer {
	position: relative;
	width: 80%;
	height: 600px;
}

.itemImage {
	box-shadow: 0 0 5px rgba(0, 255, 255, 0.5);
	object-fit: cover;
	border-radius: 20px;
}

.itemInfo {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(20, 20, 20, 0.75);
	border-radius: 20px;
	padding: 50px;
	line-height: 1.8em;
	overflow-wrap: break-word;
}

.itemInfoSub {
	width: 100%;
	display: flex;
	border-radius: inherit;
	gap: 20px;
}

.itemInfoCol {
	display: flex;
	width: 50%;
	background-color: rgba(0, 0, 0, 0.496);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: inherit;
	text-align: center;
	padding: 20px;
}

.itemDescription {
	margin-top: 30px;
	text-align: justify;
}

@media screen and (max-width: 425px) {
	.itemDetailsContainer {
		gap: 10px;
	}

	.itemImageContainer {
		height: 300px;
	}
}

@media screen and (max-width: 650px) {
	.itemInfoSub {
		flex-direction: column;
		align-items: center;
	}

	.itemInfo {
		padding: 10px;
	}

	.itemInfoCol {
		width: 100%;
	}
}

@media screen and (max-width: 1020px) {
	.itemDetailsContainer {
		padding: 10px;
	}

	.itemImageContainer {
		width: 100%;
	}

	.itemInfo {
		width: 100%;
	}
}