.itemDetailsContainer > * {
	margin: 0;
	color: white;
}

.itemDetailsContainer {
	/* height: 100vh; */
	/* background-color: rgb(30, 30, 30); */
	position: relative;
	width: 100vw;
	height: 100vh;
}

.itemDetailsSubContainer {
	display: grid;
	justify-items: center;
	gap: 50px;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 50px;
	overflow: auto;
}

.itemImageContainer {
	position: relative;
	width: 60%;
	height: 500px;
}

.itemImage {
	box-shadow: 0 0 5px rgba(0, 255, 255, 0.5);
	object-fit: cover;
	border-radius: 20px;
}

.itemInfo {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: justify;
	background-color: rgba(0, 0, 0, 0.527);
	border-radius: 20px;
	padding: 50px;
	line-height: 1.8em;
}
