.header {
	position: relative;
	width: 100%;
	height: var(--main-nav-height);
	/* background-color: rgb(0, 0, 0, 0.1); */
	/* box-shadow: 0 2px 2px rgba(0, 255, 255, 0.5); */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.logoImage {
	margin-top: 4.8px;
	border-radius: 50%;
}

/* mainBarMenu */