.header {
	width: 100%;
	height: var(--main-nav-height);
	/* background-color: #2d2d2d; */
	/* box-shadow: 0 2px 2px rgba(0, 255, 255, 0.5); */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.darkBackground {
	background-color: #2d2d2d;
}

.appHeaderTitle {
	margin: 0;
	text-align: center;
	color: white;
	text-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 50px rgba(0, 255, 255, 0.5);
}

.header a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	transition: color, text-shadow linear;
	transition-duration: 200ms;
}

.header ul {
	list-style: none;
	display: flex;
	justify-content: baseline;
	margin: 0;
	padding: 0;
}

.logoImage {
	height: 100%;
	margin-top: 4.8px;
	border-radius: 50%;
}

.header li {
	margin: 0 1rem;
}
.header li a:hover {
	color: rgba(0, 255, 255, 0.5);
	text-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 50px rgba(0, 255, 255, 0.5);
}

.searchBarContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 150%;
	width: 50%;
}

.searchBar {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgb(25, 25, 25);
	border: 0;
	color: white;
	border-radius: 20px;
}
.searchBar:focus {
	outline: 1px solid var(--neon-blue-accent);
	box-shadow: 0 0 10px var(--neon-blue-accent);
}

.searchIcon {
	position: relative;
	right: 30px;
	color: white;
}

.themeIcon {
	position: relative;
	left: 30px;
	color: white;
	font-size: 1.5rem;
}

.logo {
	font-size: 2rem;
	color: white;
	text-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 50px rgba(0, 255, 255, 0.5);
	margin: 0;
}
