.header {
	position: relative;
	width: 100%;
	height: var(--main-nav-height);
	/* background-color: #2d2d2d; */
	/* box-shadow: 0 2px 2px rgba(0, 255, 255, 0.5); */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.header:first-child {
	flex: 1;
}
.header:nth-child(2) {
	flex: 5;
}
.header:nth-child(3) {
	flex: 1;
}

.darkBackground {
	background-color: #2d2d2d;
}

.appHeaderTitle {
	margin: 0;
	/* text-align: center; */
	color: white;
	text-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 50px rgba(0, 255, 255, 0.5);
}

.defaultLink,
.dropdownLink {
	text-decoration: none;
	color: white;
	font-weight: bold;
	transition: color, text-shadow linear;
	transition-duration: 200ms;
}

.defaultLink:hover {
	color: rgba(0, 255, 255, 0.5);
	text-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 50px rgba(0, 255, 255, 0.5);
}

.header ul {
	list-style: none;
	display: flex;
	justify-content: baseline;
	margin: 0;
	padding: 0;
}

.logoImage {
	margin-top: 4.8px;
	border-radius: 50%;
}

.header li {
	margin: 0 1rem;
	color: white;
}
/* .header li a:hover {
	color: rgba(0, 255, 255, 0.5);
	text-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 50px rgba(0, 255, 255, 0.5);
} */

.dropdownTrigger {
	position: relative;
	cursor: pointer;
	display: flex;
	justify-content: center;
	display: flex;
	align-items: center;
	color: white;
	background-color: rgb(20, 20, 20);
	padding: 10px;
	border-radius: 10px;
	border: 0;
	z-index: 2;
}

.dropdownTrigger:hover,
.dropdownTrigger[data-state='open'] {
	cursor: pointer;
	background: linear-gradient(to right, rgba(0, 255, 255, 0.5), rgba(119, 0, 255, 0.5));
	/* outline: 1px solid rgba(0, 255, 255, 0.5); */
}

.dropdownContent {
	margin-top: 5px;
	border-radius: 10px;
	cursor: pointer;
	padding: 10px;
	background-color: rgb(32, 32, 32);
	z-index: 2;
}

.dropdownItem {
	font-size: 13px;
	line-height: 1;
	color: var(--violet11);
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	padding: 0 5px;
	position: relative;
	/* padding-left: 25px; */
	font-weight: normal;
	user-select: none;
	outline: none;
}

.dropdownLink {
	font-weight: normal;
}
.dropdownItem:hover,
.dropdownItem:focus {
	background: linear-gradient(to right, rgba(0, 255, 255, 0.5), rgba(119, 0, 255, 0.5));
}

/* --------------------------------------------------------------------------------------- */

@media screen and (max-width: 500px) {
	.appHeaderTitle {
		display: none;
	}
}
