/* components\app-page\add-item-modal-form.module.css */
.modalBackdrop {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(0, 0, 0, 0.9);
}

.formContainer {
	position: absolute;
	/* z-index: 2; */
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: rgb(0, 0, 0, 0.8); */
}

.addOrEditForm,
.deleteForm {
	position: relative;
	background-color: rgb(15, 15, 15);
	text-align: center;
	border: 1px solid rgba(0, 255, 255, 0.5);
	box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
	z-index: 2;
}

.addOrEditForm {
	width: 80%;
	height: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-radius: 20px;
}

.deleteForm {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 25px;
	border-radius: 20px;
	color: white;
	background-color: black;
	width: 40%;
	height: 50%;
	padding: 20px;
}

@media (max-width: 1160px) {
	.deleteForm {
		height: 70%;
		width: 80%;
	}
}

@media (max-width: 500px) {
	.deleteForm {
		width: 100%;
		height: 100%;
		border: 0;
		box-shadow: none;
	}
}

.imageFileInput {
	display: none;
}

.customImageUploadLabel {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 6px;
	cursor: pointer;
	text-align: center;
	border-radius: 20px;
	border: 0;
	background-color: rgb(25, 25, 25);
	color: rgb(190, 190, 190);
	overflow: hidden;
}

.customImageUploadLabel img {
	object-fit: cover;
}

.customImageUploadLabelContents {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	z-index: 2;
	color: white;
}

.customImageUploadLabelContentsOptions {
	background-color: rgba(0, 0, 0, 0.523);
	padding: 10px;
	border-radius: 10px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s;
}

.customImageUploadLabel:hover .customImageUploadLabelContentsOptions,
.customImageUploadLabel:focus .customImageUploadLabelContentsOptions {
	visibility: visible;
	opacity: 1;
}

.customImageUploadLabelContentsOptionsVisible {
	visibility: visible;
	opacity: 1;
}

.customImageUploadLabelContents svg {
	font-size: 1.2rem;
}

.customImageUploadLabelContents p {
	margin: 0;
}

.itemInfo {
	display: grid;
	justify-items: center;
	align-items: center;
	padding: 20px 0 20px 10px;
	gap: 20px;
	overflow-y: scroll;
}

.textInput,
.textArea {
	text-align: center;
	border-radius: 10px;
	border: 0;
	background-color: rgb(25, 25, 25);
	color: rgb(190, 190, 190);
}

.textInput {
	width: 70%;
	height: 50px;
}

.textAreaContainer {
	width: 90%;
	position: relative;
}

.textArea {
	position: relative;
	width: 100%;
	height: 300px;
	max-width: 100%;
	/* max-height: 300px; */
	padding: 20px;
	text-align: justify;
	resize: vertical;
}

.resizeHandle {
	height: 0px;
	width: 0px;
	border: 10px solid rgb(0, 158, 158);
	border-radius: 50%;
	/* border-left: 20px solid transparent;
	border-right: 20px solid transparent; */
	transform: rotate(-45deg);
	position: absolute;
	right: -5px;
	bottom: 0px;
	pointer-events: none;
	z-index: 2;
}

.textInput:focus,
.textInput:hover,
.textArea:focus,
.textArea:hover,
.customImageUploadLabel:hover,
.customImageUploadLabel:focus {
	/* border: 1px solid rgba(0, 255, 255, 0.5); */
	outline: 5px solid rgba(0, 255, 255, 0.5);
}

.textInput:autofill {
	-webkit-text-fill-color: rgb(190, 190, 190);
	caret-color: white;
	box-shadow: 0 0 1000px rgb(25, 25, 25) inset;
	transition: background-color 5000s ease-in-out 0s;
	/* Above is a hack to stop the background color from when the user autofills saved input */
}

.submitAndCancelBtns {
	display: flex;
	gap: 50px;
}

.submitBtn,
.cancelBtn {
	background-color: transparent;
	color: white;
	border: 1px solid rgba(0, 255, 255, 0.5);
	border-radius: 10px;
	padding: 0.625em;
	/* Use em instead of px for relative sizing */
	font-size: 1rem;
	/* Use rem for a responsive font size */
	width: auto;
	padding: 1em 2em;
}

.submitBtn:hover {
	background-color: rgba(0, 255, 255, 0.5);
	box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
	cursor: pointer;
}

.cancelBtn {
	border: 1px solid rgba(255, 0, 0, 0.5);
}

.cancelBtn:hover {
	background-color: rgba(255, 0, 0, 0.5);
	box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
	cursor: pointer;
}

.toggleBtn {
	background-color: transparent;
	border: 0;
	color: rgba(0, 255, 255, 0.5);
	transition: 100ms linear;
}

.toggleBtn:hover {
	cursor: pointer;
	color: rgba(0, 255, 255, 1);
}

.errorTextInput,
.errorTextInput:focus {
	outline: 2px solid rgba(255, 0, 0, 0.5);
}

@media (hover: none) {
	.customImageUploadLabel .customImageUploadLabelContentsOptions {
		/* Styles for devices without hover capabilities go here */
		visibility: visible;
		opacity: 1;
	}
}

@media (max-width: 1000px) {
	.addOrEditForm {
		width: 100%;
		height: 100%;
		padding: 15px;
		border-radius: 0;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		overflow-y: scroll;
		border: 0;
		box-shadow: none;
	}

	.addOrEditForm::-webkit-scrollbar {
		/* background-color: rgb(21, 21, 21); */
		/* background-color: transparent; */
		width: 0px;
	}

	.addOrEditForm::-webkit-scrollbar-thumb {
		background: linear-gradient(rgba(140, 0, 255, 0.5), rgba(0, 255, 255, 0.5));
		transition: background 100ms ease-in-out;
	}

	.addOrEditForm::-webkit-scrollbar-thumb:hover {
		background: linear-gradient(rgba(140, 0, 255, 1), rgba(0, 255, 255, 1));
	}

	.addOrEditForm::-webkit-scrollbar-track {
		/* box-shadow: inset 0 0 5px rgba(0, 255, 255, 0.5); */
		border-radius: 20px;
		margin-block-start: 10px;
		margin-block-end: 10px;
	}

	.customImageUploadLabel {
		height: 400px;
	}

	.textAreaContainer {
		width: 100%;
	}

	.itemInfo {
		gap: 20px;
		padding: 30px 10px;
		overflow-y: visible;
	}

	.itemInfo::-webkit-scrollbar {
		/* background-color: rgb(21, 21, 21); */
		/* background-color: transparent; */
		width: 0px;
	}

	.textInput {
		width: 100%;
	}

	.textArea {
		width: 100%;
	}

	.textArea::-webkit-scrollbar {
		/* background-color: rgb(21, 21, 21); */
		/* background-color: transparent; */
		width: 10px;
	}
}