.header {
	width: 100%;
    height: 5rem;
	background-color: #2d2d2d;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
    padding: 20px;
}

.header a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.header ul {
	list-style: none;
	display: flex;
	justify-content: baseline;
	margin: 0;
	padding: 0;
}

.header li {
	margin: 0 1rem;
}

.searchBarContainer {
	height: 100%;
	width: 50%;
}

.searchBar {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #232323;
    border: 0;
    color: white;
    border-radius: 20px;
}

.logo {
	font-size: 2rem;
	color: white;
	margin: 0;
}
