.formContainer {
	height: calc(100vh - var(--main-nav-height));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.formOuter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(30, 30, 30);
	width: 40%;
	height: 50%;
	margin-top: -5%;
	border-radius: 20px;
	text-align: center;
	border: 1px solid rgba(0, 255, 255, 0.5);
	box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

.formOuter h1 {
	margin-bottom: 60px;
	color: white;
	text-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 50px rgba(0, 255, 255, 0.5);
}

.form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.form input {
	text-align: center;
	border-radius: 10px;
	width: 70%;
	height: 15%;
	border: 0;
	background-color: rgb(50, 50, 50);
	color: rgb(190, 190, 190);
}

.form input:focus {
	border: 1px solid rgba(0, 255, 255, 0.5);
	outline: 1px solid rgba(0, 255, 255, 0.5);
}

.form input:autofill {
	-webkit-text-fill-color: rgb(190, 190, 190);
	caret-color: white;
	box-shadow: 0 0 1000px rgb(50, 50, 50) inset;
	transition: background-color 5000s ease-in-out 0s;
	/* Above is a hack to stop the background color from when the user autofills saved input */
}

.form .submitBtn {
	background-color: transparent;
	color: white;
	border: 1px solid rgba(0, 255, 255, 0.5);
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	transition: 100ms linear;
}

.form .submitBtn:hover {
	background-color: rgba(0, 255, 255, 0.5);
	box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
	cursor: pointer;
}

.form .toggleBtn {
	background-color: transparent;
	border: 0;
	color: rgba(0, 255, 255, 0.5);
	transition: 100ms linear;
}

.form .toggleBtn:hover {
	cursor: pointer;
	color: rgba(0, 255, 255, 1);
}

@media screen and (max-width: 600px) {
	.formOuter {
		width: 80%;
	}
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
	.formOuter {
		width: 60%;
	}
}
