/* nextjs-inventory-control\components\layout\app\dropdownmenu.module.css */
.defaultLink,
.dropdownLink {
	text-decoration: none;
	color: white;
	font-weight: bold;
	transition: color, text-shadow linear;
	transition-duration: 200ms;
}

.defaultLink:hover {
	color: rgba(0, 255, 255, 0.5);
	text-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 50px rgba(0, 255, 255, 0.5);
}

.dropdownTrigger {
	position: relative;
	height: 100%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	display: flex;
	align-items: center;
	color: white;
	background-color: rgb(10, 10, 10);
	padding: 10px;
	border-radius: 10px;
	/* margin-right: 10px; */
	outline: 1px solid rgba(0, 255, 255, 0.5);
	border: 0;
	z-index: 2;
	cursor: pointer;
}

.dropdownUserIconContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.dropdownTrigger:hover,
.dropdownTrigger:focus,
.dropdownTrigger[data-state='open'] {
	background: linear-gradient(to top right, rgba(119, 0, 255, 1), rgba(0, 255, 255, 1));
	outline: 0;
}

.dropdownContent {
	margin-top: 5px;
	margin-right: 5px;
	border-radius: 10px;
	cursor: pointer;
	padding: 10px;
	border: 1px solid rgba(0, 255, 255, 0.5);
	background-color: rgb(10, 10, 10);
	z-index: 2;
}

.dropdownItem {
	font-size: 15px;
	line-height: 1;
	color: white;
	border-radius: 3px;
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	height: 50px;
	padding: 10px;
	margin: 5px;
	position: relative;
	/* padding-left: 25px; */
	font-weight: normal;
	user-select: none;
	outline: none;
}

.dropdownLink {
	font-weight: normal;
}

.dropdownItem:hover,
.dropdownItem:focus {
	background: linear-gradient(to right, rgba(0, 255, 255, 0.5), rgba(119, 0, 255, 0.5));
}

.iconWrapper {
	margin-right: 10px;
}

@media screen and (max-width: 425px) {
	.dropdownContent {
		
	}
}