/* D:\Projects\Personal_Projects\nextjs-inventory-control\components\auth-pages\auth-pages.module.css */
.formContainer {
	height: calc(var(--vh) - var(--main-nav-height));
	display: grid;
	justify-items: center;
	align-items: center;
	overflow-y: scroll;
}

.formContainer::-webkit-scrollbar {
	width: 3px;
}

.formOuter,
.formOuterRegister {
	width: 500px;
	background-color: rgb(30, 30, 30);
	margin-top: -5%;
	border-radius: 20px;
	text-align: center;
	border-top: 1px solid rgba(0, 255, 255, 0.5);
	border-bottom: 1px solid rgba(0, 255, 255, 0.5);
	/* border: 1px solid rgba(0, 255, 255, 0.5); */
	box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

.formOuter::-webkit-scrollbar, .formOuterRegister::-webkit-scrollbar {
	width: 5px;
}

.formOuter h1,
.formOuterRegister h1 {
	margin-bottom: 50px;
	color: white;
	text-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 50px rgba(0, 255, 255, 0.5);
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form > * {
	color: rgb(190, 190, 190);
}

.inputContainer {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin-bottom: 20px;
}

.inputSubContainer {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	width: 100%;
	height: 50px;
	background-color: rgb(30, 30, 30);
}

.inputIcons {
	position: absolute;
	right: 10px;
	cursor: pointer;
}

.textInput {
	padding-left: 20px;
	padding-right: 35px;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	border: 0;
	background-color: inherit;
	color: rgb(190, 190, 190);
	outline: 2px solid rgba(190, 190, 190, 1);
	transition: outline-color 0.3s ease;
}

.textInput:focus {
	/* border: 1px solid rgba(0, 255, 255, 0.5); */
	outline-color: rgba(0, 255, 255, 0.5);
	/* transition: 0.3s ease; */
}

.inputLabel {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	font-size: 1em;
	color: rgb(190, 190, 190);
	background-color: rgb(30, 30, 30);
	pointer-events: none;
	transition: .3s ease;
}

.textInput:focus + .inputLabel,
.inputActive {
	top: 0px;
	font-size: 0.8em;
	padding: 5px;
}

.errorTextInput,
.errorTextInput:focus {
	outline-color: rgba(255, 0, 0, 0.5);
}

.errorLabel {
	color: rgba(255, 0, 0, 0.5);
}

.errorMessage {
	color: rgba(255, 0, 0, 0.8);
	margin-top: 10px;
}

.textInput:autofill {
	-webkit-text-fill-color: rgb(190, 190, 190);
	caret-color: white;
	box-shadow: 0 0 1000px rgb(30, 30, 30) inset;
	transition: background-color 5000s ease-in-out 0s;
	/* Above is a hack to stop the background color from when the user autofills saved input */
}

.separatorLine {
	display: flex;
	flex-direction: row;
	width: 70%;
	/* text-transform: uppercase; */
	margin: 20px 0;
	font-size: 1rem;
}

.separatorLine::before,
.separatorLine::after {
	content: "";
	border-bottom: 1px solid rgba(0, 255, 255, 1);
	flex: 1 0 auto;
	margin: 0;
	transform: translateY(-40%);
}

.separatorLine span {
	text-align: center;
	flex: 0.2 0 auto;
	margin: 0;
}

.form .submitBtn,
.googleBtn {
	position: relative;
	z-index: 1;
	background-color: black;
	background-image: linear-gradient(to right, rgba(0, 255, 255, 0.5), rgba(89, 0, 148, 0.5));
	color: white;
	border: none;
	border-radius: 10px;
	width: 30%;
	height: 50px;
	text-align: center;
	cursor: pointer;
}

.form .submitBtn::before,
.googleBtn::before {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: linear-gradient(to right, rgba(0, 255, 255, 1), rgba(89, 0, 148, 1));
	box-shadow: 0 0 10px rgba(0, 255, 255, 1);
	border-radius: 10px;
	z-index: -1;
	opacity: 0;
	transition: opacity 100ms ease-in-out;
}

.googleBtn {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 4px;
	width: 50%;
	background-image: linear-gradient(to right, rgba(51, 103, 214, 0.51), rgba(0, 79, 250, 0.51));
}

.googleBtn::before {
	background-image: linear-gradient(to right, rgb(51, 103, 214), rgb(0, 79, 250));
	box-shadow: 0 0 10px rgb(51, 103, 214);
}

.form .submitBtn:hover::before,
.googleBtn:hover::before {
	opacity: 1;
}

.loginOrSignUpPart {
	/* position: absolute; */
	margin: 20px 0;
}

.form .toggleBtn {
	font-size: 1rem;
	text-decoration: none;
	color: rgba(0, 255, 255, 0.5);
	transition: 100ms linear;
}

.form .toggleBtn:hover {
	cursor: pointer;
	color: rgba(0, 255, 255, 1);
}

@media screen and (min-width: 2560px) {

	.formOuter,
	.formOuterRegister {
		width: 1000px;
	}
}

@media screen and (max-width: 1200px) {

	.formOuter,
	.formOuterRegister {
		width: 60%;
	}
}

@media screen and (max-width: 750px) {

	.formOuter,
	.formOuterRegister {
		width: 100%;
	}
}