.formContainer {
	height: calc(100vh - var(--main-nav-height));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.formOuter,
.formOuterRegister {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(30, 30, 30);
	width: 500px;
	height: 500px;
	margin-top: -5%;
	border-radius: 20px;
	text-align: center;
	border: 1px solid rgba(0, 255, 255, 0.5);
	box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

.formOuterRegister {
	height: 500px;
}

.formOuter h1,
.formOuterRegister h1 {
	margin-bottom: 70px;
	color: white;
	text-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 50px rgba(0, 255, 255, 0.5);
}

.form {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}

.form > * {
	color: rgb(190, 190, 190);
}

.inputContainer {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	width: 70%;
	height: 50px;
	margin-bottom: 20px;
	background-color: rgb(50, 50, 50);
}

.textInput {
	padding-left: 20px;
	padding-right: 35px;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	border: 0;
	color: rgb(190, 190, 190);
	background-color: inherit;
}

.inputIcons {
	position: absolute;
	right: 10px;
}

.form .textInput:focus {
	/* border: 1px solid rgba(0, 255, 255, 0.5); */
	outline: 2px solid rgba(0, 255, 255, 0.5);
}

.form .errorTextInput,
.form .errorTextInput:focus {
	outline: 2px solid rgba(255, 0, 0, 0.5);
}

.textInput:autofill {
	-webkit-text-fill-color: rgb(190, 190, 190);
	caret-color: white;
	box-shadow: 0 0 1000px rgb(50, 50, 50) inset;
	transition: background-color 5000s ease-in-out 0s;
	/* Above is a hack to stop the background color from when the user autofills saved input */
}

.form .submitBtn,
.googleBtn {
	position: relative;
	z-index: 1;
	background-color: black;
	background-image: linear-gradient(to right, rgba(0, 255, 255, 0.5), rgba(89, 0, 148, 0.5));
	color: white;
	border: none;
	border-radius: 10px;
	width: 30%;
	height: 50px;
	text-align: center;
	cursor: pointer;
}

.form .submitBtn::before,
.googleBtn::before {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: linear-gradient(to right, rgba(0, 255, 255, 1), rgba(89, 0, 148, 1));
	box-shadow: 0 0 10px rgba(0, 255, 255, 1);
	border-radius: 10px;
	z-index: -1;
	opacity: 0;
	transition: opacity 100ms ease-in-out;
}

.googleBtn {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 4px;
	width: 50%;
	background-image: linear-gradient(to right, rgba(51, 103, 214, 0.51), rgba(0, 79, 250, 0.51));
}

.googleBtn::before {
	background-image: linear-gradient(to right, rgb(51, 103, 214), rgb(0, 79, 250));
	box-shadow: 0 0 10px rgb(51, 103, 214);
}

.form .submitBtn:hover::before,
.googleBtn:hover::before {
	opacity: 1;
}

.form .toggleBtn {
	font-size: 1rem;
	background-color: transparent;
	border: 0;
	color: rgba(0, 255, 255, 0.5);
	margin-bottom: 10px;
	transition: 100ms linear;
}

.form .toggleBtn:hover {
	cursor: pointer;
	color: rgba(0, 255, 255, 1);
}

.separatorLine {
	display: flex;
	flex-direction: row;
	width: 70%;
	/* text-transform: uppercase; */
	margin: 20px 0;
	font-size: 1rem;
}

.separatorLine::before,
.separatorLine::after {
	content: "";
	border-bottom: 1px solid rgba(0, 255, 255, 1);
	flex: 1 0 auto;
	margin: 0;
	transform: translateY(-40%);
}
.separatorLine span {
	text-align: center;
	flex: 0.2 0 auto;
	margin: 0;
}

.loginOrSignUpPart {
	position: absolute;
	bottom: 0;
}

@media screen and (max-width: 600px) {
	.formOuter,
	.formOuterRegister {
		width: 90%;
	}
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
	.formOuter,
	.formOuterRegister {
		width: 60%;
	}
}

@media screen and (min-width: 2560px) {
	.formOuter,
	.formOuterRegister {
		width: 1000px;
	}
}
