@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');
:root {
	--main-nav-height: 4rem;
	--neon-blue-accent: rgba(0, 255, 255, 0.5);
}

* {
	box-sizing: border-box;
}

html {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../public/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	font-family: 'Open Sans', 'Lato', sans-serif;
	margin: 0;
	/* background-color: #2d2d2d; */
	/* background-color: #000203; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
	/* background-color: rgb(21, 21, 21); */
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 255, 255, 0.5);
	border-radius: 10px;
	transition: background 100ms ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 255, 255, 1);
}

::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 5px rgba(0, 255, 255, 0.5); */
	border-radius: 10px;
	margin-block: 8px;
}
